<div class="card">
<a href="/post/{{id}}"></a>
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
    <button onclick = "location.href = '/editPost/:id';" type="add" value = {{id}} class="btn btn-primary addComment"><i class="fas fa-edit"></i> + Comment</button>
  </div>
  <div class="card-footer text-muted">
    Posted on {{ createdAt}}
    {{comment}}
  </div>
</a>
</div>

<script src="/js/addComment.js"></script>