<div class="card">
  <h5 class="card-header">{{post.title}}</h5>
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
  <div class="card-footer text-muted">
    Posted on {{ post.createdAt}}
    <container class="editPostForm">
<header>
    <h1>Add Comment</h1>
    <form class="editPostForm">
    <div class="container editPostForm">
  <div class="passed">
    <label for="passed" class="col-form-label"></label>
    <div class="">
      <input type="input" class="form-control" id="comment" value={{post.comment}}>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary submit editSubmit" value={{post.id}}>Submit</button>
  </form>
  </container>
  </div>
</a>
</div>



<script src="/js/editPost.js"></script>